body {
  margin: 0;
  font-family: 'Ranchers', cursive;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 16px;
  line-height: 22px;
  font-weight: 600;
  box-sizing: border-box;
}

* {
  box-sizing: border-box;
}
